@page
@model Frontend1.Pages.Admin.Jobs.Remove
@{
Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this job?</h2>
<div>
    <h3 id="job-title">@Model.JobTitle</h3>
    <p id="job-description">@Model.JobDescription</p>
    <p id="job-schedule">@Model.JobSchedule</p>
    <p id="job-location">@Model.JobLocation</p>
    <p id="job-postDate">@Model.JobPostDate</p>
    <p id="job-salary">@Model.JobSalary</p>
    <p id="job-deadline">@Model.JobDeadline</p>
    <p id="job-desiredSkills">@Model.JobDesiredSkills</p>
    <p id="job-industry">@Model.JobIndustry</p>
</div>
<form>
    <input type="hidden" id="id" value="@Model.JobId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/Admin/Jobs/Index" class="btn btn-secondary">Cancel</a>
</form>

<script src="~/js/jobs/remove-job.js"></script>
}
